.down span {
	display: inline-flex;
	background: seagreen;
	height: 6px;
	width: 40px;
	margin-bottom: 60px;
	margin-right: 20px;
	position: relative;
	transform: rotate(90deg);
}
  .down span:before,
  .down span:after {
	content: "";
	background: seagreen;
	position: absolute;
	height: 5px;
	width: 30px;
  }

  .down span:before {
	right: -5px;
	bottom: -8px;
	transform: rotate(-45deg);
  }

  .down span:after {
	right: -5px;
	top: -8px;
	transform: rotate(45deg);
  }

/*Second color*/
.down2 span {
	display: inline-flex;
	background: orangered;
	height: 6px;
	width: 40px;
	margin-bottom: 60px;
	margin-right: 20px;
	position: relative;
	transform: rotate(90deg);
}
  .down2 span:before,
  .down2 span:after {
	content: "";
	background: orangered;
	position: absolute;
	height: 5px;
	width: 30px;
  }

  .down2 span:before {
	right: -5px;
	bottom: -8px;
	transform: rotate(-45deg);
  }

  .down2 span:after {
	right: -5px;
	top: -8px;
	transform: rotate(45deg);
  }

/*Third color*/
.down3 span {
	display: inline-flex;
	background: darkred;
	height: 6px;
	width: 40px;
	margin-bottom: 60px;
	margin-right: 20px;
	position: relative;
	transform: rotate(90deg);
}
  .down3 span:before,
  .down3 span:after {
	content: "";
	background: darkred;
	position: absolute;
	height: 5px;
	width: 30px;
  }

  .down3 span:before {
	right: -5px;
	bottom: -8px;
	transform: rotate(-45deg);
  }

  .down3 span:after {
	right: -5px;
	top: -8px;
	transform: rotate(45deg);
  }

.dDown {
	animation: animateDown 1.5s normal infinite;
}

.dUp {
	animation: animateDownUp 1.5s normal infinite;
}

.dLeft {
	animation: animateDownLeft 1.5s normal infinite;
}

.dRight {
	animation: animateDownRight 1.5s normal infinite;
}

@keyframes animateDown {
	0%{
		opacity: 0;
		transform: translate(0rem,-15rem);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(0rem,15rem);
	}
}

@keyframes animateDownUp {
	0%{
		opacity: 0;
		transform: translate(0rem,15rem);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(0rem,-15rem);
	}
}

@keyframes animateDownLeft {
	0%{
		opacity: 0;
		transform: translate(15rem,-0rem);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(-15rem,0rem);
	}
}

@keyframes animateDownRight {
	0%{
		opacity: 0;
		transform: translate(-15rem,0rem);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translate(15rem,0rem);
	}
}