.score {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
}

.game-lost {
  display: flex;
  justify-content: center;
  color: darkred;
  font-size: 10rem;
  font-family: Noto Sans, sans-serif;
}

