.right span {
    display: inline-flex;
    background: seagreen;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
}
  .right span:before,
  .right span:after {
    content: "";
    background: seagreen;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .right span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .right span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

/*Second color*/
.right2 span {
    display: inline-flex;
    background: orangered;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
}
  .right2 span:before,
  .right2 span:after {
    content: "";
    background: orangered;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .right2 span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .right2 span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

/*Third color*/
.right3 span {
    display: inline-flex;
    background: darkred;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
}
  .right3 span:before,
  .right3 span:after {
    content: "";
    background: darkred;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .right3 span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .right3 span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

.rRight {
    animation: animateRight 1.5s infinite;
}

.rLeft{
    animation: animateRightLeft 1.5s infinite;
}

.rUp{
    animation: animateRightUp 1.5s infinite;
}


.rDown{
    animation: animateRightDown 1.5s infinite;
}

@keyframes animateRight {
    0%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
}

@keyframes animateRightLeft {
    0%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
}


@keyframes animateRightUp {
    0%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
}

@keyframes animateRightDown {
    0%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
}