.right span{
    transform: rotate(315deg);
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid seagreen;
    border-right: 10px solid seagreen;
}

/*Second color*/
.right2 span{
    transform: rotate(315deg);
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid orangered;
    border-right: 10px solid orangered;
}

/*Third color*/
.right3 span{
    transform: rotate(315deg);
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid darkred;
    border-right: 10px solid darkred;
}

.rRight {
    animation: animateRight 1.5s infinite;
}

.rLeft{
    animation: animateRightLeft 1.5s infinite;
}

.rUp{
    animation: animateRightUp 1.5s infinite;
}


.rDown{
    animation: animateRightDown 1.5s infinite;
}

@keyframes animateRight {
    0%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
}

@keyframes animateRightLeft {
    0%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
}


@keyframes animateRightUp {
    0%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
}

@keyframes animateRightDown {
    0%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
}