.up span{
    display: inline-flex;
    margin-right: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid seagreen;
    border-right: 10px solid seagreen;
    transform: rotate(225deg);
}

/*Second color*/
.up2 span{
    display: inline-flex;
    margin-right: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid orangered;
    border-right: 10px solid orangered;
    transform: rotate(225deg);
}

/*Third color*/
.up3 span{
    display: inline-flex;
    margin-right: 25px;
    width: 45px;
    height: 45px;
    border-bottom: 10px solid darkred;
    border-right: 10px solid darkred;
    transform: rotate(225deg);
}

.uUp{ 
    animation: animateUp 1.5s infinite; 
}

.uDown{ 
    animation: animateUpDown 1.5s infinite; 
}

.uLeft{ 
    animation: animateUpLeft 1.5s infinite;
}

.uRight{ 
    animation: animateUpRight 1.5s infinite; 
}

@keyframes animateUp {
    0%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
}

@keyframes animateUpDown {
    0%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
}

@keyframes animateUpLeft {
    0%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
}

@keyframes animateUpRight {
    0%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
}