.left span {
    display: inline-flex;
    background: seagreen;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
    transform: rotate(180deg);
}
  .left span:before,
  .left span:after {
    content: "";
    background: seagreen;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .left span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .left span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

/*Second color*/
.left2 span {
    display: inline-flex;
    background: orangered;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
    transform: rotate(180deg);
}
  .left2 span:before,
  .left2 span:after {
    content: "";
    background: orangered;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .left2 span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .left2 span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

/*Third color*/
.left3 span {
    display: inline-flex;
    background: darkred;
    height: 6px;
    width: 40px;
    margin-bottom: 60px;
    margin-right: 20px;
    position: relative;
    transform: rotate(180deg);
}
  .left3 span:before,
  .left3 span:after {
    content: "";
    background: darkred;
    position: absolute;
    height: 5px;
    width: 30px;
  }

  .left3 span:before {
    right: -5px;
    bottom: -8px;
    transform: rotate(-45deg);
  }

  .left3 span:after {
    right: -5px;
    top: -8px;
    transform: rotate(45deg);
  }

.lLeft {
    animation: animateLeft 1.5s infinite;
}

.lRight {
    animation: animateLeftRight 1.5s infinite;
}

.lUp{
    animation: animateLeftUp 1.5s infinite;
}

.lDown{
    animation: animateLeftDowm 1.5s infinite;
}

@keyframes animateLeft {
    0%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
}

@keyframes animateLeftRight {
    0%{
        opacity: 0;
        transform: translate(-15rem,0rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(15rem,0rem);
    }
}

@keyframes animateLeftDown {
    0%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
}

@keyframes animateLeftUp {
    0%{
        opacity: 0;
        transform: translate(0rem,15rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0rem,-15rem);
    }
}